.liveCtn,
.chatCtn {
    width: 100%;
    height: 100%;
}

/* 左边视频 */
.liveCtnVideo,
.liveCtnOption {
    width: 100%;
}

.liveCtnVideo {
    height: 670px;
    background: #000;
}

.liveCtnOption {
    height: 115px;
    border-radius: 0 0 12px 12px;
    background: #fff;
    text-align: center;
    line-height: 115px;
}

/* 右边聊天室 */


.liveCtn {
    
}

.rightTool {
    height: 785px;
    border-radius: 12px;
}