.carousel img {
    margin: 10px 10px;
    width: 1200px;
}

.product-list a {
    color: #000;
}

.card:hover {
    display: inline-block;
    width: 100%;
    box-shadow: 0 4px 40px 1px rgba(0,0,0,.1);
    margin-top: -3px;
}

.product-list img {
    width: 100%
}
